{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_content %}
<style>
    body {
        background-image: url("{% static 'images/bg4.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #header {
        /* background: rgba(0, 0, 0, 0.7); */
        color: white;
    }
</style>
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <!-- <h1><a href="#intro" class="scrollto">TechnoStart 2020</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="{% url 'home' %}"><img style="width: 50%;" src="{% static 'images/logo.png' %}" alt=""
                    title="TechnoStart-2020" /></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="{% url 'home' %}#intro"><i class="fa fa-home">&nbsp;</i>Home</a>
                </li>
                <li><a href="{% url 'home' %}#portfolio"><i class="fa fa-bullhorn">&nbsp;</i>Events</a>
                    <!-- <ul>
            <li><a href="#">Technical</a></li>
            <li><a href="#">Non-Technical</a></li>
          </ul> -->
                </li>
                <li><a href="{% url 'home' %}#updates"><i class="fa fa-bell">&nbsp;</i>Updates</a></li>
                <li><a href="{% url 'home' %}#about"><i class="fa fa-book">&nbsp;</i>Schedule</a></li>
                <li><a href="{% url 'home' %}#contact"><i class="fa fa-phone">&nbsp;</i>Contact</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}#test"><i class="fa fa-pencil">&nbsp;</i>Test</a></li>
                <li class="menu-has-children"><a href="#"><i class="fa fa-user">&nbsp;</i>{{ user|upper }}</a>
                    <ul>
                        <li><a base_new.html.htmlref="#" data-toggle="modal" data-target="#profile"><i
                                    class="fa fa-user-circle">&nbsp;</i>Profile</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#logoutModal"><i
                                    class="fa fa-unlock">&nbsp;</i>Logout</a></li>
                    </ul>
                </li>

                {% else %}
                <li><a href="{% url 'login' %}"><i class="fa fa-lock">&nbsp;</i>Login</a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<div style="padding-top: 50px;">
    {% block content %}{% endblock content %}
</div>
{% endblock header_content %}